#contact {
  min-height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;

  > section {
    background: rgb(29, 39, 87);
    background: linear-gradient(
      105deg,
      rgb(33, 49, 129) 0%,
      rgb(29, 59, 131) 42%,
      rgb(23, 71, 116) 98%
    );
    width: 100%;
    height: 100%;

    > form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      > h2 {
        text-align: center;
        font: 100 2.7rem $text2;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin: 2rem;
      }
      > input {
        padding: 0.8rem;
        width: 40%;
        background-color: rgb(9, 26, 32);
        font: 400 0.9rem $text1;
        margin: 1rem;
        border: none;
        border-radius: 8px;
      }

      > button {
        cursor: pointer;
        padding: 1.2rem 2.2rem;
        background-color: rgb(7, 210, 255);
        border-radius: 10px;
        color: $color4;
        font: 700 1rem $text1;
        color: rgb(0, 0, 0);
        text-transform: capitalize;
        transition: all ease 0.3s;
        margin: 3rem;
        &:hover {
          scale: 1.1;
        }
      }
    }
  }

  > aside {
    width: 100%;
    height: 100%;
    display: grid;
    background: rgb(29, 39, 87);
    background: linear-gradient(
      105deg,
      rgba(29, 39, 87, 1) 0%,
      rgba(34, 54, 100, 1) 42%,
      rgba(52, 77, 100, 1) 98%
    );
    place-items: center;
    img {
      width: 70%;
      height: 70%;
      object-fit: contain;
      animation: upupdowndown 0.7s infinite linear alternate;
    }
  }
}




