#experience {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  padding-top: 4vw;
  background-color: #0f161f;
}
.box {
  padding: 1vw 6vw;
  h2 {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    font-family: $text2;
    > span {
      color: $color3;
    }
  }
  .expart{
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
    span {
      color: $color3;
    }
  }
 
    
  }

.exdiv .eximg{
  border: 2px solid $color3;
  box-shadow: 0 0 .5rem $color2;
  border-radius: .5rem ;
  transition: all ease .3s;
  &:hover{
    scale: .9;
  }
}


// button hover 
.buttonHover {
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c5c5c5,
              -6px -6px 12px #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonHover p {
  margin: 0;
}

.buttonHover::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  
  background-image: linear-gradient(to left, #31baec 0%, #47f3f9 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
}

.buttonHover:hover::before {
  width: 9em;
  left: auto;
  right: 0;
  background-image: linear-gradient(to right, #31baec 0%, #47f3f9 100%);
}