footer {
  min-height: 25vh;
  background-color: rgb(17, 22, 40);
  color: $color4;
  padding: 5rem 0;
  padding-left: $p;
  display: grid;
  grid-template-columns: 10fr 3fr 1fr;
  align-items: center;
  justify-items: center;
  text-align: center;
  > div {
    width: 100%;
    border-left: 2px solid $color4;
    border-right: 2px solid $color4;

    > img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: contain;

      animation: floatImage2 6s ease-in-out infinite;
    }

    > h2 {
      animation: floatText 6.5s ease-in infinite;

      margin: 1rem;
      font-size: 1.5rem;
      font-weight: 700;
      color: white;
      width: fit-content;
      border-bottom: 2px solid $color3;
    }
    > p {
      font: 500 1.2rem $text2;
      margin: 1rem;
      color: rgb(222, 222, 222);
      text-transform: capitalize;
    }
  }

  > aside > article {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    svg {
      font-size: 2.5rem;
      color: $color4;
      &:hover {
        color: $color3;
      }
    }
  }

  > a {
    width: 45px;
    height: 45px;
    background-color: $color3;
    border-radius: 50%;
    display: grid;
    place-items: center;
    svg {
      font-size: 2rem;
      color: $color3;
    }
  }
}

.ok {
  animation: floatImage 4s ease-in-out infinite;
}
