nav {
  width: 100%;
  min-height: 6vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8vw;
  position: sticky;
  top: 0%;
  z-index: 99;
  font-weight: 700;
  background: rgb(11, 39, 102);
  background: linear-gradient(
    87deg,
    rgba(11, 39, 102, 1) 0%,
    rgb(30, 108, 144) 23%,
    rgba(43, 73, 123, 1) 100%
  );
  > h3 {
    font-size: 2rem;
    font-weight: 900;
    transition: all ease 0.3s;
    &:hover {
      scale: 1.1;
    }
  }

  > div {
    display: flex;
    align-items: center;
    gap: 3rem;
    a {
      font-weight: 500;
      transition: all ease 0.3s;
      letter-spacing: 1px;
      padding-bottom: 6px;
      &:hover {
        color: $color3;
        scale: 1.1;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0;
        height: 2px;
        background-color: $color3;
        transition: width 0.3s ease;
      }

      &:hover::after {
        width: 100%;
        left: 0;
        right: auto;
      }
    }
  }
  a > button {
    display: inline-block;
    padding: 0.5vw 1.1rem;
    background: $color3;
    border-radius: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    box-shadow: 0 0 1rem $color3;
    letter-spacing: 1px;
    font-weight: 600;
    color: $bgcolordark;
    transition: all ease-in-out 0.5s;
    &:hover {
      box-shadow: none;
      scale: 0.95;
    }
  }
}

.navBtn {
  border: none;
  color: $color3;

  position: fixed;
  top: 0.8rem;
  right: 1.4rem;
  z-index: 150;
  font-size: 1.4rem;
  display: none;
  &:hover {
    color: $color3;
  }
}
.navPhone {
  transform: translateX(200%);
  transition: all 0.5s;
  width: 60%;
  height: 100vh;
  padding: 1rem;
  background: rgb(11, 39, 102);
  background: linear-gradient(
    87deg,
    rgba(11, 39, 102, 1) 0%,
    rgb(30, 108, 144) 23%,
    rgba(43, 73, 123, 1) 100%
  );
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  > h3 {
    font-size: 1.5rem;
    letter-spacing: none;
    font-weight: 700;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    a {
      text-align: center;
      color: #fff;
      letter-spacing: 1px;
      font-weight: 500;
      transition: all ease 0.3s;
    }
  }

  a > button {
    border: 1px solid #fff;
    padding: 0.5rem 1.4rem;
    background-color: $color3;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 1rem $color3;
    font-weight: 700;
    transition: 0.5s;

    > svg {
      display: none;
    }
  }
}

.navPhoneComes {
  transform: translateX(0);
}

.closeBtn {
  position: absolute;
  top: 0.8rem;
  right: 1rem;
  border: none;
  background: none;
  font-size: 1.4rem;
  color: #fff;
  cursor: pointer;
}
