@media screen and (max-width: 1367px) {
  nav {
    padding: 0 7vmax;
  }

  #home {
    min-height: 150vh;
    > section {
      &:first-of-type {
        padding-left: 7vmax;
        > div aside {
          width: 85%;
        }
      }
    }
  }

  #work {
    padding: 8rem 7vmax;
    min-height: 110vh;

    h2 {
      font-size: 1rem;
    }
    > section {
      > article {
        height: 20rem;
        width: 90%;
      }
      .workItem {
        padding: 2rem;
        height: 20rem;
        > aside {
          > p {
            margin: 1rem;
          }
          > a {
            margin: 1rem;
          }
        }
      }
    }
  }

  #services {
    padding: 7vmax;
    > section {
      height: 90%;
    }
  }
  #Experience {
    padding: 7vmax;
    > section {
      width: 100%;
    }
  }

  #contact > section > form {
    > input,
    > button {
      font: 400 0.8rem $text1;
      width: 50%;
    }
  }
  .about-content{
    width: 30%;
  }

  footer {
    padding-left: 7vmax;
  }
}

@media screen and (max-width: 1100px) {
  nav {
    padding: 0 $p_base;
  }

  #home {
    height: 110vh;
    > section {
      &:first-of-type {
        padding-left: $p_base;
        > div {
          > h1 {
            font: 900 3rem $text1;
          }

          aside {
            width: 100%;
          }
        }
      }
    }
  }

  #work {
    padding: 8rem $p_base;
  }

  #services {
    padding: $p_base_inverse;
    text-align: center;
  }
}
@keyframes floatText {
  0% {
    transform: translateX(0);
  }
}


@media screen and (max-width: 900px) {
  nav {
    padding: 0 $p_sm;
    > h2 {
      font-size: 1.8rem;
    }
    > div {
      gap: 1rem;
    }
  }
  @keyframes floatText {
    0% {
      transform: translateX(0);
    }
  }

  @keyframes floatImage2 {
    0% {
      transform: translateY(0);
    }
  }

  #home {
    > section {
      &:first-of-type {
        padding-left: $p_sm;
        > div {
          > div {
            gap: 2rem;
            width: 100%;
          }
          aside {
            flex-direction: column;
          }
        }
      }
    }
  }

  #work {
    padding: 8rem $p_zero;
    > section {
      > article {
        height: 25rem;
      }
      .workItem {
        height: 25rem;
      }
    }
  }

  #services {
    padding: $p_sm_inverse;
    height: 90vh;
  }

  #contact > section > form {
    > h2 {
      font: 100 2.3rem $text2;
    }
    > input,
    > button {
      width: 65%;
    }
  }


  footer {
    padding-left: $p_zero;
    grid-template-columns: 1fr;
    > div {
      width: 100%;
      border: none;
      p {
        width: 50%;
        margin: 2rem auto;
      }
    }
    > a {
      margin: 1rem;
    }
  }
}

@media screen and (max-width: 786px) {
  nav {
    > div,
    > a {
      display: none;
    }
  }
  .cursor {
    display: none;
  }
  .navBtn {
    display: block;
  }
}
.about-img img{
  height:25vh;
  width: 25vh;
}
.about{
  gap: 8vw;
}


@media screen and (max-width: 600px) {
  .workItem a img{
    height: 20vh;
    width: 100%;
    object-fit: contain;
  }
  .about{
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    
  }
  .about-img img{
    
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

  }
  
  .about-content{
    width: 80%;
  }
  .about-content h2 , h3{
    font-size: 6vw;
  }
  .about-content span{
    font-size: 6vw;
  }
  .about-content h4{
    width: 100%;
    font-size: 5vw;
    text-transform: capitalize;
    line-height: 6vw;
}

 
  #home {
    min-height: 100vw;
    height: unset;
    flex-direction: column-reverse;

    > section {
      &:first-of-type {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        > div {
          border: none;
          > h1 {
            font: 900 1.2rem $text1;
          }
          .typewriter {
            margin: 20px 0;
            height: 40px;
            font-size: 5vw;
          }
          > div {
            flex-direction: column;
          }
          aside {
            align-items: center;
          }

          article[data-special] {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
              display: block;
              font-weight: 600;
              width: 70%;
              word-wrap: break-word;
            }
          }

          article {
            width: 100%;
            text-align: center;
            &::after {
              top: 0;
              left: 0%;
            }
          }
        }
      }

      &:last-of-type {
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          margin-top: 10vw;
          height: 35vmax;
          width: 35vmax;
        }
      }
    }

    > svg {
      font-size: 2rem;
      bottom: 12%;
    }
  }
  .drop-icon {
    display: none;
  }

  .btn {
    font-weight: 700;
    color: rgb(3, 29, 8);
    font-size: 3vw;
    box-shadow: none;
  }
  .container {
    font-size: 3.5vw;
    margin-top: 1.2rem;
  }
  #work {
    >img{
      display: none;
    }
    > section {
      > article {
        width: 100%;
        height: 30vmax;
      }
      .workItem {
        height: 30vmax;
        width: 90%;

        > aside {
          padding: 1rem;

          > h3 {
            font-size: 1.2rem;
          }

          > a {
            padding: 0.4rem 0.7rem;
            font-size: 0.7rem;
            margin: 1rem;
          }
        }
      }
    }
  }

  #services {
    min-height: 120vh;
    > section {
      margin: 3rem 0;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      .serviceBox1 {
        grid-column: 1/3;
        grid-row: unset;
      }

      .serviceBox4 {
        grid-column: 1/3;
      }
    }
  }

  #contact {
    grid-template-columns: 1fr;
    > aside {
      display: none;
    }
  }
}

