#services {
  width: 100%;
  height: 100vh;
  padding: $p;
  background-color: #141d2d;
  color: $color4;
  position: relative; 
  overflow: hidden;

  > h2 {
    font: 600 2rem $text2;
    width: fit-content;
    position: relative;
    color: $color3;
    transition: all ease 0.3s;
    text-transform: capitalize;
    margin: auto;
    cursor: pointer;
    &:hover {
      scale: 1.1;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 2px;
      background-color: $color3;
      transition: width 0.3s ease;
    }

    &:hover::after {
      width: 100%;
      left: 0;
      right: auto;
    }
  }
  h6 span{
    color: $color3;
  }

  > section {
    display: grid;
    
    margin: 2rem;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    gap: 1.5rem;
    > * {
      width: 100%;
      height: 100%;
      background-color: #21a9a5a8;
      color: $color6;
      display: flex;
      flex-direction: column;
      
      transition: all 0.3s;
      align-items: center;
      border-radius: 12px;
      justify-content: center;
      &:hover {
        scale: 1.1;
      }

      > svg {
        color: $color5;
        font-size: 3rem;
      }
      > span {
        font: 700 1rem $text2;
        letter-spacing: 3px;
        margin: 1rem;
      }
    }

    .serviceBox1 {
      grid-column: 1 / 2;
      grid-row: 1/3;
      background-color: #21a9a5a8;
      border: 2px solid $color3;
      box-shadow: 0 0 1rem $color3;

      > h3 {
        font: 100 5rem $text1;
        text-transform: capitalize;
      }
      > p {
        font: 700 1.2rem $text2;
        letter-spacing: 3px;
        text-transform: capitalize;
      }
    }
    .serviceBox4 {
      grid-column: 2/4;
      border: 2px solid $color3;
      box-shadow: 0 0 1rem $color3;

    }
  }
}

