#work {
  width: 100%;
  padding: 1rem 1rem;
  // background-color: #010711;
  background-color: black;
  min-height: 100vh;
  position: relative;
  overflow: hidden; // Ensure no overflow
>img{
  height: 45%;
  
  width: 80%;
  
  object-fit: cover;
  
}
  h2 {
    font: 700 2rem $text2;
    width: fit-content;
    position: relative;
    padding: 0.5rem;
    color: $color3;
    transition: all ease 0.3s;
    text-transform: capitalize;
    margin: auto;
    cursor: pointer;

    &:hover {
      scale: 1.1;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 2px;
      background-color: $color3;
      transition: width 0.3s ease;
    }

    &:hover::after {
      width: 100%;
      left: 0;
      right: auto;
    }
  }

  > section {
    margin-top: 1.4rem;
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
    display: flex;
    border-radius: 4px;
    align-items: center;
    gap: 2vw;
    justify-content: center;

    > article {
      width: 75%;
      height: 25vmax;
      overflow: hidden; 
    }

    .workItem {
      overflow: hidden;
      position: relative;
      border-radius: 12px;
      height: 25vmax;
      width: 75%;
      align-items: center;
      justify-content: center;
      margin: auto;
      padding: 2rem;
      display: flex;
      border: 2px solid $color3;
      box-shadow: 0 0 1rem $color3;
      margin-bottom: 5vw;
      background-color: rgba(0, 0, 0, 0.562);
      
      >a img {
        border-radius: 2px;
        width: 100%;
        object-fit: cover;
        
      }

      > aside {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > p {
          letter-spacing: 2px;
          font-weight: 500;
          line-height: 180%;
          margin: 2rem;
        }

        h3 {
          font-weight: 600;
          letter-spacing: 1px;
          font-size: 2rem;
          text-transform: capitalize;
        }

        a {
          color: $color3;
          text-transform: capitalize;
          transition: all ease 0.3s;
          padding-bottom: 4px;
          font-size: 1.5rem;
          white-space: nowrap;
          font-weight: 600;
          position: relative;
          display: inline-block;

          &:hover {
            scale: 1.1;
          }

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0;
            height: 2px;
            background-color: $color3;
            transition: width 0.3s ease;
          }

          &:hover::after {
            width: 100%;
            left: 0;
            right: auto;
          }
        }
      }
    }
  }
}
.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.4rem;
}
